<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {display: flex; justify-content: center;}
        .add{
            background-color: peachpuff;
            border-radius: 20px;
            margin-right: 10px;
        }
        .clear{
            background-color: lightcoral;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session['number']}}</p>
    <div> 
        <form action="/add_two">
            <button type="submit" class="add">Add 2</button>
        </form>
        <form action="/destroy">
            <button type="submit" class="clear">Clear</button>
        </form>
    </div>
</body>
</html> 